<html>
  <head>
    <title>MediBlock</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css' %}" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'materialize/js/materialize.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    {% block head_content %}
    {% endblock %}
  </head>
  <body>
    {% block body_content %}
    {% endblock %}
  </body>
</html>