{% extends 'menu.html' %}
{% block main_content %}
{% csrf_token %}
<div class="container">
  <div class="section">
    <h2 class="header center-align">MediBlock Data Chart</h2>
    <div class="divider" style="margin-top: 3%"></div>
    <div class="row">
      <div class="col s8 m8 offset-s2 offset-m2">
        <div class="card enclosed-card">
          <div class="card-image waves-effect waves-block waves-light">
            <img src="{{data}}"/>
          </div>
          <div class="divider"></div>
          <div class="center-align">
            <a class="materialize-red lighten-2 waves-effect waves-light btn-large center-align">
              <i class="material-icons right">update</i>
              Update
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}