{% extends 'menu.html' %}
{% block main_content %}
{% csrf_token %}
<div class="container">

  <div class="row tutorial">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title</span>
          <p>This is how to use MediBlock!</p>
        </div>
        <div class="card-image">
          <img src="https://storage.googleapis.com/mediblock_webapp_images/med2.jpg" id="main_image_1">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
          <a href="#">Upload Bills</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title</span>
          <p>This is how to use MediBlock!</p>
        </div>
        <div class="card-image">
          <img src="https://storage.googleapis.com/mediblock_webapp_images/med2.jpg" id="main_image_2">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
          <a href="#">Upload Bills</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title</span>
          <p>This is how to use MediBlock!</p>
        </div>
        <div class="card-image">
          <img src="https://storage.googleapis.com/mediblock_webapp_images/med2.jpg" id="main_image_3">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
          <a href="#">Upload Bills</a>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock %}