{% extends 'menu.html' %}

{% if alert %}
<script>
    alert('{{ alert }}');
</script>
{% endif %}

{% block main_content %}
<div class="container">
  <div class="section">
    <h2 class="header center-align">MediBlock Blockchains</h2>
    <div class="divider"></div>
    <ul class="collection blockchain">
      {% if bills %}
      {% for bill in bills %}
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title"> Transaction {{bill.num}} </span>
        <p>ID: {{ bill.id }}</p>
        <p>Timestamp: {{ bill.timestamp }}<br>
          <a href="{{ bill.id }}" class="secondary-content">
            <i class="medium material-icons">arrow_forward</i></a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
    <form action="/upload/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="file-field">
        <div class="row">
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" name="filename">
          </div>
        </div>
        <div class="row">
          <div class="col s1 m1 offset-s4 offset-m4">
            <div class="btn waves-effect waves-light materialize-red lighten-3">
              Select File
              <input type="file" name="file" accept="image/jpeg, image/jpg">
            </div>
          </div>
          <div class="col s1 m1 offset-s1 offset-m1">
            <button class="btn waves-effect waves-light materialize-red lighten-2" type="submit" name="action">
              Upload<i class="material-icons right">cloud</i>
            </button>
          </div>
        </div>
      </div>
    </form>

    {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
    {% endif %}
  </div>
</div>
{% endblock %}