{% extends 'main_template.html' %}

{% if alert %}
<script>
    alert('{{ alert }}');
</script>
{% endif %}

{% block main_content %}
<div class="container">
  <div class="index section center-align">
    <h2 class="header">MediBlock</h2>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="title center-align">
          <h5 class="subsubheader">Decentralized blockchain network of medical billing information.</h5>
          <div class="divider"></div>
        </div>

        <form action="/signin/" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input id="email" name="email" type="email" class="validate">
              <label class="active" for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 offset-s3">
              <input id="password" name="password" type="password" class="validate">
              <label class="active" for="password">Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col center s6 offset-s3">
              <button class="btn waves-effect waves-light materialize-red lighten-2"
                      type="submit" name="action" onclick="Materialize.toast('Welcome to MediBlock!')">
                  Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}